body {
  background: linear-gradient(to bottom, #333, #00AAAA);
}

.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 100px);
  justify-content: center;
  align-content: center;
}

.grid-item {
  background-color: rgba(200, 200, 200, .35);
  border: 1px solid white;
  font-size: 2rem;
  cursor: pointer;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .65);
  border: none;
  grid-column: span 4;
}

#answer {
  font-size: 2.5rem;
}

#expression {
  font-size: 1.5rem;
}

#clear {
  grid-column: span 2;
}

#equals {
  grid-row: span 2;
}

#zero {
  grid-column: span 2;
}

